@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.heroBanner {
  padding: 40vh 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* background image*/
tmp {
  background-image: url('/static/img/home/studio_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}



.homecontainer {
  position: relative;
  overflow: hidden;
}

.particles {
  position: absolute;
  top: 0;
  margin: 0 0 0 0;
  z-index: -1; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5;
}


.homeh1 {
  color: #ffffff;
  font-size: 12vw;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

.homeh2 {
  color: #bda391;
  font-size: 2vw;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.textgold {
  color: #bda391;
}

.backgroundrhino {
  background-color: #22262c;
}