/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 20vh 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

tmp {
  background-image: url('/static/img/home/studio_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  
  font-family: 'Manrope', sans-serif;

}